{% extends "base_generic.html" %}

{% block content %}
<input form="back" type="submit" value="Back" />
<input form="new" type="submit" value="New Item" />


<form id="back" action="{% url 'timon:main_view' %}"></form>
<form id="new" action="{% url 'timon:deployparam_create_view' %}"></form>


<h1>Parameters</h1>


{% if deployment_param_list %}
<table border=0px width=100% class="table table-striped">
  <thead >
    <td>ID</td>
    <td>Deployment ID</td>
    <td>Terraform Param ID</td>
    <td>Value</td>
  </thead>
  <tbody>
    {% for deployparam in deployment_param_list %}
        <td><a href="{{ deployparam.get_absolute_url }}">{{ deployparam.id }}</a></td>
        <td>{{ deployparam.deployment_id }}</td>
        <td>{{ deployparam.terraform_param_id }}</td>
        <td>{{ deployparam.value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No Terraform deployment parameters available.</p>
{% endif %}
{% endblock %}
