{% extends "base_generic.html" %}

{% block content %}
<input form="back" type="submit" value="Back" />
<input form="new" type="submit" value="New Item" />


<form id="back" action="{% url 'timon:main_view' %}"></form>
<form id="new" action="{% url 'timon:moduleparam_create_view' %}"></form>


<h1>Parameters</h1>


{% if module_param_list %}
<table border=0px width=100% class="table table-striped">
  <thead >
    <td>ID</td>
    <td>Module</td>
    <td>Parameter</td>
  </thead>
  <tbody>
    {% for moduleparam in module_param_list %}
        <td><a href="{{ moduleparam.get_absolute_url }}">{{ moduleparam.id }}</a></td>
        <td>{{ moduleparam.terraform_module_id }}</td>
        <td>{{ moduleparam.terraform_param_id }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No Terraform module parameters available.</p>
{% endif %}
{% endblock %}
