{% extends "base_generic.html" %}

{% block content %}
<input form="back" type="submit" value="Back" />
{% if object.creation_date == object.deletion_date %}
<input form="update" type="submit" value="Update" />
<input form="delete" type="submit" value="Delete" />
{% endif %}


<form id="back" action="{% url 'timon:module_list_view' %}"></form>
{% if object.creation_date == object.deletion_date %}
<form id="update" action="{% url 'timon:module_update_view' object.id %}"></form>
<form id="delete" action="{% url 'timon:module_delete_view' object.id %}" method="post">
  {% csrf_token %}
</form>
{% endif %}


<h1>Detail View</h1>


<h3>Module Overview</h3>
<table border=1 width=100%>
  <thead>
    <th>Field</th>
    <th>Value</th>
  </thead>
  <tbody>
    {% for entry in overview %}
      <tr>
        <td>{{ entry.field }}</td>
        <td>{{ entry.value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h3>Module Parameters</h3>
{% if parameters %}
<table border=1 width=100%>
  <thead>
    <th>Field</th>
    <th>Value</th>
  </thead>
  <tbody>
    {% for parameter in parameters %}
      <tr>
        <td>{{ parameter.field }}</td>
        <td>{{ parameter.value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No Module parameters available.</p>
{% endif %}
{% endblock %}

